<!DOCTYPE html>
<html>
<head>
  <title>メモ編集画面<%=@memo_id%></title>
</head>
<body>
  <form>
    <div><input></div>
    <div><textarea></textarea></div>
  </form>
  <div><a href="/">もどる</a></div>
</body>
</html>
